
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/migrations/*
!**/migrations/__init__.py
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
